@import url("./fonts.css");
@import url("../css/normalize.css");
@import url("https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css");
@import url("./menu.css");

html, body {
    height: 100%;
  }
  
  body {
    font-family: Montserrat-Regular,Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    a{
      color: #505d6f;
      text-decoration: none;
    }
  }
  
  .container {
    width: 1320px;
    max-width: 96%;
    margin: 0 auto;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .header {
    position: sticky;
    background: #f3e9dc;
    color: #505d6f;
    padding: 1rem 0;
    z-index: 11;
    .container{
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
    }
    &__title {
      text-align: center;
    }
    &__logo{
      border: 2px solid ;
      border-radius: 10px;
      
      background-image: url("../img/Screenshot_893.png");
      background-size: cover;
      height: 80px;
      width: 200px;
    }
    .desc__hide{
      display: none;
    }
    & .desc__hide{
      @media (max-width: 1024px) {
        display: block;
        font-size: 30px;
      }
    }
    & .mobile__hide{
      @media (max-width: 1024px) {
        display: none;
      }
    }
      
    &__nav {
      
      .nav__list {
        list-style: none;
        display: flex;
        gap: 1rem;
  
        a {
          position: relative;
          display: inline-block;
          transition: color 0.5s ease;
          &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0; 
            height: 2px; 
            background-color: #505d6f; 
            transition: width 0.3s ease; 
          }
        
          &:hover {
            background-color: #f3e9dc;
            color: #505d6f; 
            &::after {
              width: 100%; 
            }
          }
        }
      }
    }
    &__btn {
      position: relative;
      border: 2px solid #505d6f;
      width: 220px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      color: #505d6f;
      font-weight: bold;
      overflow: hidden; 
      transition: 0.5s;
      cursor: pointer;
      a{
        display: flex;
        gap: 5px;
        z-index: 1; 
        text-decoration: none; 
        color: inherit; 
        font-weight: bold;
        
        &::after{
          content: '';
          display: inline-block;
          width: 20px;
          height: 20px;
          background-image: url("data:image/svg+xml,%3Csvg fill='rgb(80, 93, 111)' height='200px' width='200px' version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 512 512' xml:space='preserve' stroke='rgb(80, 93, 111)'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cg%3E%3Cg%3E%3Cpath d='M497.35,331.7l-61.043-61.075c-19.501-19.501-51.326-19.501-70.826,0l-42.271,46.226l131.886,131.886l42.255-46.21 C516.883,382.994,516.883,351.233,497.35,331.7z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M39.648,80.513L27.849,92.319C9.343,110.808-0.032,132.852,0,157.765c0.069,76.333,79.018,151.21,141.117,213.118 C201.68,431.633,277.469,511.931,354.235,512c0.032,0,0.066,0,0.098,0c24.881,0,46.891-9.358,65.348-27.848l11.804-11.804 L39.648,80.513z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M241.375,75.701l-61.076-61.076c-19.565-19.501-51.261-19.501-70.826,0L63.251,56.892l131.89,131.89l46.234-42.255 C260.875,126.995,260.875,95.234,241.375,75.701z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
          background-size: cover;
        }
      }
      #canvas {
        position: absolute;
        top: 0;
        left: 0;
        // width: 100%;
        // height: 100%;
        z-index: -1; 
        padding: 10px;
      }
    
      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 100%;
        background-color: #505d6f;
        transition: width 1s ease;
      }
      &:hover {
        color: #f3e9dc; 
        &::after{
          width: 100%; 
          transition: 1s width;
        }
        a{
          &:hover{
            &::after{
              transition: 1s;
              background-image: url("data:image/svg+xml,%3Csvg fill='%23f3e9dc' height='200px' width='200px' version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 512 512' xml:space='preserve' stroke='%23f3e9dc'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cg%3E%3Cg%3E%3Cpath d='M497.35,331.7l-61.043-61.075c-19.501-19.501-51.326-19.501-70.826,0l-42.271,46.226l131.886,131.886l42.255-46.21 C516.883,382.994,516.883,351.233,497.35,331.7z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M39.648,80.513L27.849,92.319C9.343,110.808-0.032,132.852,0,157.765c0.069,76.333,79.018,151.21,141.117,213.118 C201.68,431.633,277.469,511.931,354.235,512c0.032,0,0.066,0,0.098,0c24.881,0,46.891-9.358,65.348-27.848l11.804-11.804 L39.648,80.513z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M241.375,75.701l-61.076-61.076c-19.565-19.501-51.261-19.501-70.826,0L63.251,56.892l131.89,131.89l46.234-42.255 C260.875,126.995,260.875,95.234,241.375,75.701z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            }
          }
        }
      }
       
    }
  }
  
  .section {
    padding: 2rem 0;
    .title-swiper {
      --swiper-theme-color: #505d6f;
      width: 100%;
      position: relative;
      overflow: hidden;
      .swiper-wrapper{
        width: 100vw;
        height: 600px;
        @media (max-width: 1024px) {
          height: 400px;
        }
        .swiper-slide {
          background-position: center;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          p{
            font-size: 24px;
            text-decoration: underline;
          }
          h2{
            display: block;
            background-color: #f3e9dc;
            text-align: center;
            border-radius: 20px;
          }
          div{
            font-weight: bold;
            width: 40%;
            display: block;
            background-color: #f3e9dc;
            margin-block: 0;
            border-radius: 20px;
            padding: 20px;
            box-shadow: #333 5px 5px;
            text-align: center;
            button{
              margin: 0 auto;
            }
            @media (max-width: 1024px) {
              width: 60%;
            }
          }
      }
      .image-background-1{
        background-image: url("../img/coil-main-image.png");
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        
      }
      }
      .swiper-button-next, .swiper-button-prev{
        background-color: #f3e9dc;
        border-radius: 30px;
        height: 50px;
        width: 50px;
        border: 2px solid #505d6f;
        &::after{
          font-size: 22px;
          line-height: 22px;
          &:hover{
            background-color: #505d6f;
          }
          &:active{
            background-color: #505d6f;
          }
        }
      }
    }
    .scroll-to-top {
      position: fixed;
      bottom: 50px;
      right: 50px;
      width: 50px;
      height: 50px;
      background-color: #f3e9dc;
      color: #505d6f;
      border: none;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      cursor: pointer;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
    
      &:hover {
        background-color: #f3e9dc5b;
      }
    
      &.visible {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
    }
    &--about,
    &--services,
    &--product,
    &--products,
    &--contacts
    {
      background: #f4f4f4;
      // background-color: #505d6f;
    }
    &--about{
      padding: 0;
      .container{
        max-width: 100%;
      }
      
    }
    &--product{
      .product-block{
        display: flex;
        justify-content: space-between;
        padding: 20px;
        flex-wrap: wrap;
        &__info{
          @media (max-width: 1024px) {
            display: flex;
            flex-direction: column;
            flex-basis: 96%;
            align-items: center;
            p{
              text-align: center;
            }
          }
          flex-basis: 48%;
          p{
            position: relative;
            display: flex;
            align-items: center;
            padding-left: 40px;
            &::before{
              display: block;
              position: absolute;
              content: "";
              background-image: url("../img/Screenshot_881.svg");
              background-size: contain;
              background-repeat: no-repeat;
              width: 30px;
              height: 30px;
              left: 0;
            }
          }
        }
        &__img{
          flex-basis: 48%;
          background-image: url("../img/coil-main-image.png");
          background-size: cover;
          background-position: 50% 50%;
          background-repeat: no-repeat;
          border-radius: 20px;
          box-shadow: rgba(80, 93, 111, 0.5) 5px 2px ;
          @media (max-width: 1024px) {
            flex-basis: 96%;
          }
        }
      }
    }
    
    &--services{
      
      h2{
        text-align: center;
      }
      .services-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        @media (max-width: 1024px) {
          flex-direction: column;
        }
        // .header__btn{
          
        // }
      }
      .services__list {
        
        
        .service {
          display: flex;
          padding: 1rem;
          align-items: center;
          font-weight: bold;
          font-style: italic;
          
          &::before{
            display: block;
            content: "";
            background-image: url("../img/Screenshot_881.svg");
            background-size: contain;
            background-repeat: no-repeat;
            width: 20px;
            height: 20px;
            margin-right: 10px;
          }
        }
      }
    }
    &--products{
      h2{
        text-align: center;
      }
      .products-grid{
        display: flex;
        gap: 20px;
        justify-items: center;
        flex-wrap: wrap;
        &--item{
          flex-basis: 48%;
          height: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 2px solid;
          flex-wrap: wrap;
          p{
            width: 100%;
            margin: 0 auto;
            text-align: center;
            padding: 0;
          }
          @media (max-width: 1024px) {
            flex-basis: 96%;
            margin: 0 auto;
          }

          .svg-icon-product{
            display: block;
            width: 20px;
            height: 20px;
            background-image: url("../img/Screenshot_881.svg");
            background-size: contain;
            background-repeat: no-repeat;
            margin-left: 20px;
          }
        }
      }
    }
    &--contacts {
      height: 400px;
      .container{
        text-align: center;
        gap: 20px;
      }
    }
  }
  .footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: auto; /* This will push the footer to the bottom */
    .footer__block{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @media (max-width: 1024px) {
        ul, h3, p{
          margin: 0;
        }
        gap: 20px;
      }
      &--item{
        display: flex;
        flex-basis: 96%;
        text-align: left;
        flex-direction: column;
        @media (max-width: 1024px) {
          justify-content: flex-start;
          flex-basis: 96%;
          margin: 0 auto;
          
        }
        @media (max-width: 620px) {
          flex-basis: 96%;
        }
        .social-icons {
          display: flex;
          gap: 10px; 
        
          div {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-size: cover; // Масштабування зображення
            background-position: center; // Центрування зображення
            background-color: #fff;
            
          }
        
          .facebook {
            background-image: url("../img/svg/facebook-color-svgrepo-com.svg");
          }
        
          .instagram {
            background-image: url("../img/svg/instagram-1-svgrepo-com.svg");
          }
        
          .youtube {
            background-image: url("../img/svg/youtube-color-svgrepo-com.svg");
          }
        }
        ul{
          list-style: none;
          padding-left: 0;
        }
      }
    }
  }